
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.landing-container {
    text-align: center;
}

.landing-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 250px;
}

.landing-button {
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
}

.landing-button:hover {
    background: #e0e0e0;
}
